<div id="spacer"></div>
<h1 class="h1">Dit zijn alle QR-codes voor de route {{ routeName }}</h1>

<div id="qrcontainer">
  <div *ngIf="(markers$ | async) as markers; else loadingOrError">
    <div class="qrblock" *ngFor="let marker of markers">
        <h1 class="display-4 m-5">{{ marker.displayAddress() }}</h1>
        <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="marker.id">
        </ngx-qrcode>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div class="card text-white bg-danger m-2" *ngIf="errorMessage; else loading">
    <div class="card-body">
      <h5 class="card-title">Loading Error</h5>
      <p class="card-text">
        Error loading the QR-code list: {{ errorMessage }}. <br />
        Please try again later.
      </p>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <div class="row justify-content-center m-5">
    <div class="spinnerContainer">
        <mat-spinner></mat-spinner>
      </div>
  </div> 
</ng-template>
